.general{
    width: 30%;
    font-size: 64px;
    color: #343553;
    background-color: rgba(255, 255, 255, 0.3); /* Blanc avec 30% d'opacité */
    box-shadow: 0px 4px 10px 0px white; /* Ombre */
    border-radius: 10px; /* Optionnel : coins arrondis */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#day-image {
    width: 250px;  
    height: auto;
  
}



.now{
    width: 30%;
    font-size: 32px;
    color: #343553;
    background-color: rgba(255, 255, 255, 0.3); /* Blanc avec 30% d'opacité */
    box-shadow: 0px 4px 10px 0px white; /* Ombre */
    border-radius: 10px; /* Optionnel : coins arrondis */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.now img{
    width: 250px; 
}

.wind{
    width: 30%;
    background-color: rgba(255, 255, 255, 0.3); /* Blanc avec 30% d'opacité */
    box-shadow: 0px 4px 10px 0px white; /* Ombre */
    border-radius: 10px; /* Optionnel : coins arrondis */
    position: relative;
    
}
.boussole{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


@media screen and (max-width: 768px){
    .general{
        width: 100%;
        font-size: 34px;
        color: #343553;
        background-color: rgba(255, 255, 255, 0.3); /* Blanc avec 30% d'opacité */
        box-shadow: 0px 4px 10px 0px white; /* Ombre */
        border-radius: 10px; /* Optionnel : coins arrondis */
        display: flex;
        flex-direction: row;
         align-items: center;
    }

    #day-image {
        max-width: 100px; 
        height: auto;
    }

    .now{
        width: 100%;
        font-size: 34px;
        color: #343553;
        background-color: rgba(255, 255, 255, 0.3); /* Blanc avec 30% d'opacité */
        box-shadow: 0px 4px 10px 0px white; /* Ombre */
        border-radius: 10px; /* Optionnel : coins arrondis */
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .now img{
        max-width: 100px;
    }

    .wind{
        width: 100%;
        background-color: rgba(107, 98, 98, 0.3); /* Blanc avec 30% d'opacité */
    box-shadow: 0px 4px 10px 0px white; /* Ombre */
    border-radius: 10px; /* Optionnel : coins arrondis */
        
        
    }
    .boussole{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }
    
    
}


